* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    display: block;

}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {

    width: 85%;
    margin: 0 auto;
}

/* start home */
#home {
    border: 1px solid black;
    min-height: 100vh;
    background-color: #fff18a;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;

}

#home::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(139, 131, 52, 0.25);
    top: 6%;
    left: 3%;
    transform: rotate(12deg);
    z-index: 0;
}



#home::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(251, 141, 98, 0.25);
    top: 20%;
    right: 6%;
    transform: rotate(45deg);
    z-index: 0;
}

/* start nav */
#home .nav {
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 10px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    left: 7%;
    top: 3px;
    background-color: white;
    min-height: 8vh;
}

#home .nav .tittle {
    margin-left: 2%;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    padding: 8px;

}

#home .nav .tittle span {
    color: rgb(252, 91, 33);
}

#home .nav .menu {
    align-self: center;
}

#home .nav .menu span {
    margin-inline: 5px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Exo", sans-serif;
    transition: all 0.2s ease;
}

#home .nav .menu span:hover {

    color: rgb(253, 119, 71);
}

#home .nav .menu .fa-solid {
    font-size: 10px;
    color: rgb(227, 226, 226);
    margin-inline: 5px;

}

#home .nav .button {
    margin-right: 3%;
    align-self: center;
    border: solid black 2px;
    border-radius: 20px;
    background-color: #ffd15b;
    padding: 8px;
    width: 10%;
    text-align: center;
    transition: all 0.2s ease;
}

#home .nav .button a {
    color: black;
    font-size: 13px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    text-decoration: none;


}

#home .nav .button:hover {

    transform: translate(3px, 3px);
}

/* End nav */
/* start hero */
#home .hero {
    margin-top: 12%;
    display: flex;
    margin-left: 2%;
}

#home .hero .content {
    width: 60%;
    gap: 20px;
}

#home .hero .content .titile span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2%;
}

#home .hero .content .titile .now {
    width: fit-content;
    align-self: flex-start;
    border: solid black 1px;
    background-color: black;
    color: white;
    padding: 9px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    position: relative;
    z-index: 1;
    transform: rotate(-2deg);
    box-shadow: black 3px 3px;
}

#home .hero .content .titile .BRUTAL {

    font-size: 65px;
    font-family: "Exo", sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px 2px black;
}

#home .hero .content .titile .THOUGHTS {
    color: rgb(227, 21, 21);
    font-size: 65px;
    font-family: "Exo", sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px 2px black;
}

#home .hero .content .titile .BOLD {
    color: oklch(54.6% .245 262.881);
    font-size: 65px;
    font-family: "Exo", sans-serif;
    font-weight: 800;
    text-shadow: 3px 3px 2px black;
}

#home .hero .content .prap {
    border: 2px black solid;
    background-color: white;
    box-shadow: 4px 4px 2px black;
    padding: 5px;
    width: 90%;
    margin-top: 2%;


}

#home .hero .content .prap p {
    font-size: 25px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    padding: 5px;

}

#home .hero .content .buttons {
    display: flex;
    gap: 15px;
    margin-top: 5%;
    position: relative;
    z-index: 2;
}

#home .hero .content .buttons .button-start {
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0 black;

}

#home .hero .content .buttons .start {

    padding: 25px 45px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    white-space: nowrap;
    transition: all 0.2s ease;
}



#home .hero .content .buttons .start:hover {
    transform: translate(4px, 4px);

}

#home .hero .content .buttons .button-watch {
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0 black;


}

#home .hero .content .buttons .watch {

    padding: 25px 30px;
    background-color: white;
    color: black;
    border: black 4px solid;
    font-size: 18px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    white-space: nowrap;
    transition: all 0.2s ease;
}



#home .hero .content .buttons .watch:hover {
    transform: translate(4px, 4px);

}

#home .hero .hero-img {
    width: 50%;
    position: relative;
}

#home .hero .hero-img span {
    position: absolute;
    top: 15%;
    right: -2%;
    background-color: #fb2c36;
    color: white;
    border: black solid 1px;
    transform: rotate(10deg);
    box-shadow: 3px 3px 0 black;
    padding: 5px 8px;
    font-size: 13px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    z-index: 999;

}

#home .hero .hero-img .img {
    border: solid black 3px;
    transform: rotate(2deg);
    box-shadow: 5px 5px 0 black;
    position: relative;
    z-index: 10;
    margin-top: 20%;
    background-color: black;
    width: 100%;
    height: 55%;
    overflow: hidden;
    transition: all 0.2s ease;
}

#home .hero .hero-img .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease;
}

#home .hero .hero-img .img:hover {
    transform: rotate(2deg) translate(-2px, -2px);

}

/* end hero */
/* End home */

/* start latest */
#latest {
    padding-block: 5%;
    background-color: #f5f5f5;
}

#latest .container .parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4%;

}

#latest .container .parent .articles {
    width: 62%;
}

#latest .container .header {
    display: flex;
    gap: 220px;
    align-items: baseline;



}

#latest .container .header .head h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: "Exo", sans-serif;

}

#latest .container .header .frech {
    transform: rotate(2deg);

}

#latest .container .header .frech span {
    border: black solid 1px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    padding: 5px 10px;
    box-shadow: 3px 3px 0 black;
    background-color: black;

}

/* start cards */
#latest .container .cards {
    width: 100%;

}

/* start card1 */
#latest .container .cards .box-card1 {
    box-shadow: 3px 3px 0 black;
    background-color: #000;
}

#latest .container .cards .card1 {
    padding: 10px;
    background-color: white;
    border: 2px solid #111;
    display: flex;
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 5%;
    width: 100%;
    height: 28vh;

}



#latest .container .cards .card1:hover {
    transform: translate(-3px, -3px);
}



#latest .container .cards .card1 .card-image {
    border: black 1px solid;
    position: relative;
    width: 40%;
    height: 70%;

}


#latest .container .cards .card1 .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}




#latest .container .cards .card1 .card-image .new {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #f52929;
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    padding: 3px 4px;
    border: 1px solid #111;
    transform: rotate(12deg);
}



#latest .container .cards .card1 .card-content {
    margin-left: 5%;
}


#latest .container .cards .card1 .card-content .tech {
    display: inline-block;
    background-color: #ffd92f;
    color: #111;
    font-size: 13px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    padding: 2px 5px;
    border: 1px solid #111;
    box-shadow: 2px 2px 0 #111;
    margin-bottom: 8px;
    transform: rotate(-4deg);
}




#latest .container .cards .card1 .card-content h2 {
    font-size: 21px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    line-height: 1.2;
    color: #111;
    margin-bottom: 8px;
    transition: 0.3s ease;
}



#latest .container .cards .card1:hover .card-content h2 {
    color: #f41d27;
}




#latest .container .cards .card1 .card-content p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    line-height: 1.8;
    width: 85%;
    color: black;
    margin-bottom: 6px;
}




#latest .container .cards .card1 .card-content .info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3px;
    gap: 10px;
}


#latest .container .cards .card1 .card-content .info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    white-space: nowrap;
    gap: 5px;
}


#latest .container .cards .card1 .card-content .info-item i {
    font-size: 11px;
    color: #000;
}




#latest .container .cards .card1 .card-content .likes i,
.likes span {
    color: #e7000b;
}

/* end card1 */
/* start card2 */

#latest .container .cards .box-card2 {
    box-shadow: 5px 5px 0 black;
    background-color: #000;
}

#latest .container .cards .card2 {
    padding: 10px;
    background-color: white;
    border: 2px solid #111;
    display: flex;
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 5%;
    width: 100%;
    height: 28vh;

}



#latest .container .cards .card2:hover {
    transform: translate(-3px, -3px);
}



#latest .container .cards .card2 .card-image {
    border: black 1px solid;
    position: relative;
    width: 30%;
    height: 60%;

}


#latest .container .cards .card2 .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}




#latest .container .cards .card2 .card-image .hot {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #2b7fff;
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    padding: 3px 4px;
    border: 1px solid #111;
    transform: rotate(-12deg);
}



#latest .container .cards .card2 .card-content {
    margin-left: 5%;
}


#latest .container .cards .card2 .card-content .design {
    display: inline-block;
    background-color: #7bf1a8;
    color: #111;
    font-size: 15px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    padding: 2px 5px;
    border: 1px solid #111;
    box-shadow: 1px 1px 0 #111;
    margin-bottom: 8px;
    transform: rotate(1deg);
}




#latest .container .cards .card2 .card-content h2 {
    font-size: 21px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    line-height: 1.2;
    color: #111;
    margin-bottom: 8px;
    transition: 0.3s ease;
}



#latest .container .cards .card2:hover .card-content h2 {
    color: #2b7fff;
}




#latest .container .cards .card2 .card-content p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    line-height: 1.8;
    width: 85%;
    color: black;
    margin-bottom: 6px;
}




#latest .container .cards .card2 .card-content .info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3px;
    gap: 10px;
}


#latest .container .cards .card2 .card-content .info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    white-space: nowrap;
    gap: 5px;
}


#latest .container .cards .card2 .card-content .info-item i {
    font-size: 11px;
    color: #000;
}




#latest .container .cards .card2 .card-content .likes i,
.likes span {
    color: #e7000b;
}

/* end card2 */

/* start card3 */
#latest .container .cards .box-card3 {
    box-shadow: 3px 3px 0 black;
    background-color: #000;
}

#latest .container .cards .card3 {
    padding: 10px;
    background-color: white;
    border: 2px solid #111;
    display: flex;
    position: relative;
    transition: 0.4s ease;
    cursor: pointer;
    margin-top: 5%;
    width: 100%;
    height: 28vh;

}



#latest .container .cards .card3:hover {
    transform: translate(-3px, -3px);
}



#latest .container .cards .card3 .card-image {
    border: black 1px solid;
    position: relative;
    width: 30%;
    height: 60%;

}


#latest .container .cards .card3 .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}




#latest .container .cards .card3 .card-image .viral {
    position: absolute;
    top: 1px;
    right: -6px;
    background-color: #ad46ff;
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    padding: 3px 4px;
    border: 1px solid #111;
    transform: rotate(50deg);
}



#latest .container .cards .card3 .card-content {
    margin-left: 5%;
}


#latest .container .cards .card3 .card-content .culture {
    display: inline-block;
    background-color: #fda5d6;
    color: #111;
    font-size: 15px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    padding: 2px 5px;
    border: 1px solid #111;
    box-shadow: 1px 1px 0 #111;
    margin-bottom: 8px;
    transform: rotate(-1deg);
}




#latest .container .cards .card3 .card-content h2 {
    font-size: 21px;
    font-weight: 800;
    font-family: "Exo", sans-serif;
    line-height: 1.2;
    color: #111;
    margin-bottom: 8px;
    transition: 0.3s ease;
}



#latest .container .cards .card3:hover .card-content h2 {
    color: #ad46ff;
}




#latest .container .cards .card3 .card-content p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Exo", sans-serif;
    line-height: 1.8;
    width: 85%;
    color: black;
    margin-bottom: 6px;
}




#latest .container .cards .card3 .card-content .info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3px;
    gap: 10px;
}


#latest .container .cards .card3 .card-content .info-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    white-space: nowrap;
    gap: 5px;
}


#latest .container .cards .card3 .card-content .info-item i {
    font-size: 11px;
    color: #000;
}




#latest .container .cards .card3 .card-content .likes i,
.likes span {
    color: #e7000b;
}

/* end card3 */
/* end cards */

#latest .container .button-load {
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0 black;
    margin: 4% auto;
}

#latest .container .button-load .load {
    padding: 20px 45px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    white-space: nowrap;
    transition: all 0.2s ease;
}

#latest .container .button-load .load:hover {
    transform: translate(4px, 4px);
}


/* START SIDEBAR */


#latest .container .parent .sidebar {
    margin-right: 2%;
    width: 30%;
    position: sticky;
    top: 35px;
    align-self: flex-start;
}




#latest .sidebar .sidebar-box {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
    padding: 11px;
    margin-bottom: 13px;

}




#latest .sidebar .sidebar-box h2 {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;

}




#latest .sidebar .trend-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 7%;

}




#latest .sidebar .trend-number {
    font-family: "Exo", sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 1;
}


#latest .sidebar .trend-number.one {

    color: #ff3038;

}


#latest .sidebar .trend-number.two {

    color: #2b7fff;
}


#latest .sidebar .trend-number.three {
    color: #ad46ff;
}




#latest .sidebar .trend-content {

    flex: 1;

}


#latest .sidebar .trend-content h3 {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 3px;

}


#latest .sidebar .trend-content p {
    font-family: "Exo", sans-serif;
    font-size: 13px;
    color: #525252;

}

#latest .sidebar .trend-content .Death:hover {
    color: #ff3038;
}

#latest .sidebar .trend-content .Chaos:hover {
    color: #2b7fff;
}

#latest .sidebar .trend-content .Digital:hover {
    color: #ad46ff;
}


#latest .sidebar .sidebar-box2 {
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    padding: 11px;
    margin-bottom: 13px;

}

#latest .sidebar .categories h2 {
    font-family: "Exo", sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 14px;

}


#latest .sidebar .category {
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 5%;
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 800;
}




#latest .sidebar .tech-category {
    background-color: #fde8b2;
    transition: background-color 0.2s ease;
}

#latest .sidebar .tech-category:hover {
    background-color: #fdc700;
}


#latest .sidebar .design-category {
    background-color: #dcfce7;
    transition: background-color 0.2s ease;
}

#latest .sidebar .design-category:hover {
    background-color: #7bf1a8;
}

#latest .sidebar .culture-category {
    background-color: #fce7f3;
    transition: background-color 0.2s ease;

}

#latest .sidebar .culture-category:hover {
    background-color: #fda5d6;

}

#latest .sidebar .opinion-category {
    background-color: #dbeafe;
    transition: background-color 0.2s ease;
}

#latest .sidebar .opinion-category:hover {
    background-color: #8ec5ff;
}

#latest .sidebar .tutorials-category {
    background-color: #f3e8ff;
    transition: background-color 0.2s ease;
}

#latest .sidebar .tutorials-category:hover {
    background-color: #dab2ff;
}

#latest .sidebar .category {
    transition: 0.2s ease;

}


#latest .sidebar .category:hover {
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 1px black;
}

/* end latest */
/* start authhors */
#authhors {
    padding-block: 5%;
    border: 2px solid black;
    min-height: 100vh;
    background-color: #ffd230;
    position: relative;
    overflow: hidden;

}

#authhors::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(139, 131, 52, 0.25);
    top: 10%;
    right: 6%;
    transform: rotate(45deg);
    z-index: 0;
}


#authhors .tittle {
    text-align: center;
}

#authhors .tittle h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: "Exo", sans-serif;
}

#authhors .tittle p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Exo", sans-serif;
    color: #525252;
}

#authhors .tittle::before {
    content: "";
    position: absolute;
    border-bottom: #000 solid 6px;
    width: 8%;
    height: 16%;
    left: 48%;
    z-index: 0;
    transform: rotate(1deg);
}



#authhors .cards {
    margin-top: 6%;
    display: flex;
    gap: 25px;
}




#authhors .author-card {
    width: 30%;
    min-height: 60vh;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 0 black;
}




#authhors .author-one {
    background-color: #fff9b5;
}

#authhors .author-two {
    background-color: #d8f8e5;
}

#authhors .author-three {
    background-color: #fce7f3;
}




#authhors .author-image {
    width: 120px;
    height: 120px;
    margin: 0 auto 9px;
    position: relative;
    border: 3px solid black;
}

#authhors .author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}




#authhors .author-image span {
    position: absolute;
    top: 8px;
    right: -90%;
    padding: 3px 4px;
    border: 1px solid black;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: white;
    box-shadow: 2px 2px 0 black;
}




#authhors .author-one .author-image span {
    background-color: #ff3038;
    transform: rotate(12deg);
}

#authhors .author-two .author-image span {
    background-color: #2b7fff;
    transform: rotate(-12deg);
}

#authhors .author-three .author-image span {
    background-color: #ad46ff;
    transform: rotate(45deg);
}




#authhors .author-content h1 {
    font-family: "Exo", sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-block: 7px;
    transition: color 0.3s ease;
}




#authhors .author-one:hover .author-content h1 {
    color: #ff3038;
}

#authhors .author-two:hover .author-content h1 {
    color: #2b7fff;
}

#authhors .author-three:hover .author-content h1 {
    color: #ad46ff;
}




#authhors .author-content h2 {
    font-family: "Exo", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #525252;
    margin-bottom: 15px;
}




#authhors .author-content p {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
    margin-bottom: 8px;
    width: 90%;
}





#authhors .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
}

#authhors .social-item {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#authhors .social-item i {
    font-size: 25px;
}




#authhors .social-item:hover {
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 0 black;

}

#authhors .social-item.twi:hover {
    background-color: #1DA1F2;
}

#authhors .social-item.link:hover {
    background-color: #0077B5;
}

#authhors .social-item.inst:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

#authhors .author-card:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 0 black;
}

/* end authhors */
/* start community */
#community {
    padding-block: 5%;
    border: 3px solid black;
    min-height: 100vh;
    background-color: #f5f5f5;
}

#community .tittle {
    text-align: center;
}

#community .tittle h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: "Exo", sans-serif;
}

#community .tittle p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
    font-family: "Exo", sans-serif;
    color: #525252;
}

#community .tittle::before {
    content: "";
    position: absolute;
    border-bottom: #000 solid 9px;
    width: 8%;
    height: 16%;
    left: 46%;
    z-index: 0;
    transform: rotate(-1deg);
}

#community .content {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}




#community .community-left {
    width: 46%;
    margin-left: 5%;
}

#community .community-left h2 {
    font-family: "Exo", sans-serif;
    font-size: 33px;
    font-weight: 900;
    line-height: 1.05;
    margin-bottom: 5%;
    width: 85%;
}




#community .community-text {
    width: 95%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 0 black;
    padding: 7px;
    margin-bottom: 5%;
}

#community .community-text p {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.55;

}

#community .benefits {
    width: 100%;
}

#community .benefit {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5%;
}

#community .benefit-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: white;
}

#community .benefit-icon i {
    font-size: 20px;
}

#community .benefit-icon.red {
    background-color: #ff3038;
}

#community .benefit-icon.blue {
    background-color: #2b7fff;
}

#community .benefit-icon.purple {
    background-color: #ad46ff;
}

#community .benefit-icon.green {
    background-color: #00c950;
}

#community .benefit p {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 700;
}




#community .join-button {
    display: inline-block;
    margin-top: 7%;
    margin-left: 10%;
    box-shadow: 3px 3px 0 black;

}

#community .join-button button {
    background-color: black;
    color: white;
    border: none;
    padding: 30px 50px;
    font-family: "Exo", sans-serif;
    font-size: 17px;
    font-weight: 800;
    transition: all 0.2s ease;

}




#community .join-button:hover button {
    transform: translate(3px, 3px);
}




#community .community-right {
    width: 48%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 6px 6px 0 black;
    padding: 13px;
}

#community .community-right h2 {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-block: 5%;
}




#community .review {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 9%;

}

#community .review-one {
    background-color: #fff1f1;
}

#community .review-two {
    background-color: #eaf3ff;
}

#community .review-three {
    background-color: #f7efff;
    margin-bottom: 0;
}

#community .review p {
    font-family: "Exo", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.55;
    margin-bottom: 4%;
}




#community .review-person {
    display: flex;
    align-items: center;
    gap: 10px;
}

#community .review-person img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: 1px solid black;
}

#community .review-person h3 {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 3px;
}

#community .review-person span {
    font-family: "Exo", sans-serif;
    font-size: 13px;
    color: #525252;
}

/* start footer */

#footer {
    background-color: black;
    color: white;
    padding-block: 5%;
    border-top: 2px solid black;
}


#footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4%;
    padding-bottom: 5%;
}




#footer .footer-about {
    width: 40%;
    margin-left: 3%;
}


#footer .footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5%;
}


#footer .footer-icon {
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


#footer .footer-icon i {
    font-size: 30px;
}


#footer .footer-logo h2 {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    font-weight: 900;
}


#footer .footer-about p {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    width: 95%;
}


#footer .footer-categories {
    width: 25%;
}


#footer .footer-categories h2 {
    font-family: "Exo", sans-serif;
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 10%;
}


#footer .category-link {
    margin-bottom: 8%;
    width: fit-content;
}


#footer .category-link a {
    color: white;
    font-family: "Exo", sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: all 0.2s ease;
}


#footer .category-link a:hover {
    color: #ffd230;
}



#footer .footer-newsletter {
    width: 40%;
}


#footer .footer-newsletter h2 {
    font-family: "Exo", sans-serif;
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 8%;
}


#footer .footer-newsletter p {
    font-family: "Exo", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 5%;
    width: 95%;
}


#footer .newsletter-form {
    width: 100%;
}


#footer .newsletter-form input {
    width: 100%;
    height: 60px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    outline: none;
}


#footer .newsletter-form input::placeholder {
    color: #a3a3a3;
    font-size: 17px;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

#footer .newsletter-form .box-submit {
    width: 100%;
    box-shadow: 3px 3px 2 #ffdf20;
    margin-top: 5%;
}


#footer .newsletter-form button {
    width: 100%;
    padding: 18px 28px;
    background-color: #ffdf20;
    color: black;
    font-family: "Exo", sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.2s ease;
}


#footer .newsletter-form button:hover {
    transform: translate(3px, 3px);
    background-color: #fbc01c;
}





#footer .footer-bottom {
    border-top: 3px solid white;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#footer .footer-bottom p {
    font-family: "Exo", sans-serif;
    font-size: 17px;
    font-weight: 700;
}


#footer .footer-links {
    display: flex;
    gap: 16px;
}


#footer .footer-links a {
    color: white;
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s ease;
}


#footer .footer-links a:hover {
    color: #ffd230;
}

/* end footer */